EMAIL= #Add your Contentstack email address
PASSWORD= #Add your password

# Organization ID
ORG_ID= #Add your organization ID

# Stack API Key
STACK_API_KEY= #Add your Stack API key

# Add the Base url for the app you want to test
APP_BASE_URL = #Add your app base URL (e.g: http://localhost:3000)

# Basic auth credentials
BASIC_AUTH_USERNAME = #Add your basic auth username
BASIC_AUTH_PASSWORD = #Add your basic auth password

# Based on the env make sure to add proper credentials for the below variables
DEVELOPER_HUB_API= #Add Developer Hub API endpoint (e.g: developerhub-api.contentstack.com)
ENV_URL= #Add App host URL (e.g: https://app.contentstack.com/)
BASE_API_URL= #Add API end point (e.g: api.contentstack.io)