@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

body,
html {
  font-family: 'Inter', sans-serif;
}

/* asset sidebar styles */

.asset-sidebar-extension {
  padding: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.asset-sidebar-extension > label {
  font-weight: 700;
}

.asset-sidebar-extension > p {
  padding: 0.25rem;
  color: #000000;
  border-bottom-right-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
  border-bottom-width: 2px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

/* app configuration extension styles  */

.app-configuration-extension {
  padding: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.app-configuration-extension > label {
  font-weight: 700;
}

.app-configuration-extension > p {
  padding: 0.25rem;
  color: #1f2937;
  border-bottom-right-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
  border-bottom-width: 2px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

/* custom field styles */

.custom-field {
  padding: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

/* dashboard styles */

.dashboard {
  box-sizing: border-box;
  display: flex;
  /* background: #F7F9FC; */
  width: auto;
  height: 320px;
  justify-content: center;
  align-items: center;
}

.dashboard-container {
  padding: 8px 0px 8px 0px;
}

.dashboard-content > p {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  line-height: 185%;
  padding: 20px;
}

.dashboard-icon {
  display: flex;
  justify-content: center;
}

.dashboard-content {
  display: block;
  justify-content: center;
  text-align: center;
  padding: 35px 0;
}

.dashboard-content > a {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  color: #6c5ce7;
  text-decoration: none;
}

.dashboard > h4 {
  font-family: Inter;
  font-size: 22px;
  font-weight: 800;
  line-height: 30px;
  letter-spacing: -0.0002em;
  text-align: center;
}

/* entry sidebar styles */

.entry-sidebar {
  box-sizing: border-box;
  display: flex;
  background: #F7F9FC;
  width: auto;
  height: 533px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.entry-sidebar-content {
  padding: 20px 0;
}

.entry-sidebar-icon {
  display: flex;
  justify-content: center;
}

.entry-sidebar-icon > img {
  width: 52px;
  height: 52px;
}

.entry-sidebar-content > h4 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 135%;
  text-align: center;
  letter-spacing: -0.00019em;
  color: #222222;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.entry-sidebar-content > p {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  line-height: 185%;
  padding: 20px;
}

.entry-sidebar-content > a {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  color: #6c5ce7;
  text-decoration: none;
}

/* JSONRte Extension */

.jsonrte-extension {
  padding: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.jsonrte-extension > label {
  font-weight: 700;
}

.jsonrte-extension > p {
  padding: 0.25rem;
  color: #000000;
  border-bottom-right-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
  border-bottom-width: 2px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

/* app failed component */

.app-failed-container {
  padding: 5rem;
  max-width: 72rem;
  margin-left: auto;
  margin-right: auto;
}

.app-failed-container > .app-component-container {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #fdf2c7;
  border-radius: 0.5rem;
}

.app-icon {
  margin-right: 0.5rem;
  color: #b36b34;
  width: 1.25rem;
  height: 1.25rem;
}

.app-content {
  display: flex;
  align-items: center;
}

.app-content > h3 {
  color: #b36b34;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
}

.app-text {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  color: #b36b34;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.secondary-app-container {
  display: flex;
}

.secondary-app-container > button {
  display: inline-flex;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-right: 0.5rem;
  background-color: #b36b34;
  color: #ffffff;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  text-align: center;
  align-items: center;
  border-radius: 0.5rem;
}

.app-learn-more {
  margin-right: 0.5rem;
  margin-left: -0.125rem;
  width: 1rem;
  height: 1rem;
}
